################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.log
/EMGDb.WebApi.Tests/bin/Debug/net6.0/nunit_random_seed.tmp
*.vsidx
/.vs/EMGDb/FileContentIndex/22a57ccf-3c60-4944-9d85-89ef55b872a7.vsidx
/.vs/EMGDb/FileContentIndex/2305fd6e-88c6-4c5a-bdc8-f505723a2362.vsidx
/.vs/EMGDb/FileContentIndex/999648e3-4a10-4cfd-a5f6-61984ba1095c.vsidx
/.vs/EMGDb/FileContentIndex/9ca03c45-5bce-4963-b5ba-172ec8ceba25.vsidx
/.vs/EMGDb/FileContentIndex/9ca03c45-5bce-4963-b5ba-172ec8ceba25.vsidx
/.vs/EMGDb/FileContentIndex/999648e3-4a10-4cfd-a5f6-61984ba1095c.vsidx
/.vs/EMGDb/FileContentIndex/2305fd6e-88c6-4c5a-bdc8-f505723a2362.vsidx
/.vs/EMGDb/FileContentIndex/22a57ccf-3c60-4944-9d85-89ef55b872a7.vsidx
/.vs/EMGDb/DesignTimeBuild/.dtbcache.v2
/.vs/EMGDb/FileContentIndex/22a57ccf-3c60-4944-9d85-89ef55b872a7.vsidx
/.vs/EMGDb/FileContentIndex/2305fd6e-88c6-4c5a-bdc8-f505723a2362.vsidx
/.vs/EMGDb/FileContentIndex/999648e3-4a10-4cfd-a5f6-61984ba1095c.vsidx
/.vs/EMGDb/FileContentIndex/9ca03c45-5bce-4963-b5ba-172ec8ceba25.vsidx
/.vs/EMGDb/DesignTimeBuild/.dtbcache.v2
/EMGDb.Application/bin/Debug/net6.0/EMGDb.Application.dll
/EMGDb.Application/bin/Debug/net6.0/EMGDb.Application.pdb
/EMGDb.Application/bin/Debug/net6.0/EMGDb.Domain.dll
/EMGDb.Application/bin/Debug/net6.0/EMGDb.Domain.pdb
/EMGDb.Application/bin/Debug/net6.0/EMGDb.Persistence.dll
/EMGDb.Application/bin/Debug/net6.0/EMGDb.Persistence.pdb
/EMGDb.Application/obj/Debug/net6.0/ref/EMGDb.Application.dll
/EMGDb.Application/obj/Debug/net6.0/refint/EMGDb.Application.dll
/.vs/EMGDb/DesignTimeBuild/.dtbcache.v2
/.vs/EMGDb/v17/TestStore/0/000.testlog
/.vs/EMGDb/v17/TestStore/0/testlog.manifest
/.vs/EMGDb/v17/TestStore/1/017.testlog
/.vs/EMGDb/v17/TestStore/1/testlog.manifest
/.vs/EMGDb/v17/.futdcache.v2
/.vs/EMGDb/v17/.suo
/.vs/ProjectEvaluation/emgdb.metadata.v6.1
/.vs/ProjectEvaluation/emgdb.projects.v6.1
